@use '../styles/header.module.scss' as header;

.domainPanel{
    background-color: #FFFFFF;
    width: 45.104vw;
    border: 1px solid #F1F1F5;
    border-radius: 15px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

@media (max-width: header.$layout-breakpoint-small){
    .domainPanel{
        width: 100%;
        margin-left: 0px;
        border-radius: 0px;
    }
  }