@use './header.module.scss';


@font-face {
    font-family: 'TKT_REGULAR';
    src: url("../fonts/TKT-Regular.ttf") format("truetype");
 }

// importing tkt medium font
@font-face {
    font-family: 'TKT_MEDIUM';
    src: url("../fonts/TKT-Medium.ttf") format("truetype");
 }

//  importing tkt bold font
 @font-face {
    font-family: 'TKT_BOLD';
    src: url("../fonts/TKT-Bold.ttf") format("truetype");
 }

 $font-main: 'TKT_REGULAR', sans-serif;
 $font-secondary: 'TKT_MEDIUM', sans-serif;
 $font-bold: 'TKT_BOLD', sans-serif;

.dropDown{
    background: none;
    width: 160px;
    height: 46px;
    text-align: center;
    font-family: $font-main;
    color: #696974;
    @extend %border;
    
}