@use './header.module.scss' as header;

.filterPanel{
    background-color: #FFFFFF;
    width: 380px;
    min-height: 1381px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 0 30px;
    border: 1px solid #F1F1F5;
}

@media (max-width: header.$layout-breakpoint-small){
    .filterPanel{
       display: none;
       width: 100%;
       border-radius: 0px;
    //    background-color: blue;
       padding-left: 7%;
    }
}