@font-face {
    font-family: 'Helvetica';
    src: url("../fonts/Linotype-HelveticaNeueLTGEO75Bold.ttf") format("truetype");
}

$font-count: 'Helvetica', sans-serif;

@font-face {
    font-family: 'TKT_BOLD';
    src: url("../fonts/TKT-Bold.ttf") format("truetype");
}

$font-bold: 'TKT_BOLD', sans-serif;

%border {
    border: 1px solid #F1F1F5;
    border-radius: 12px;
}


$layout-breakpoint-small: 1484px;

.header {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    border-bottom: 1px solid #F1F1F5;
    padding: 0 16.56%;
    position: relative;
    --cart-count: 0; 

    .headerLeftSide{
        width: 225px;
        height: 38px;
        display: flex;
        align-items: center;
           
        .burgerMenu{
            width: 29px;
            height: 20px;
            background-image: url('../public/images/burgerMenu.svg');
            background-repeat: no-repeat;
            background-size: cover;
            display: none; //hidden for desktop
        }

        .logo{
            background-image: url('../public/images/logo.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
        }

        .filterHeader{
            font-family: $font-bold;
            display: none;
            position: absolute;
            left: 20px;
        }
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .button {
            border: 1px solid #F1F1F5;
            border-radius: 12px;
            width: 50px;
            height: 46px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .button:not(:first-child) {
            margin-left: 20px;
        }

        .button:nth-child(2) {
            position: relative;
        }

        .ShoppingCartButton{
          padding: 13.7px 16px 13.7px 12.06px;
        }

        .cartBadge {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #FF4D4D;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            color: white;
            font-family: $font-count;
            top: -15%;
            left: 75%;
        }

        .dropDownContainer {
            position: relative;
            margin-left: 20px;

            .userIcon {
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 14.5px;
                transform: translateY(-50%);
            }
        }
    }
}

// adding responsiveness to mobile
@media (max-width: $layout-breakpoint-small){
    .header{
        padding: 0px;
        justify-content: space-around; //header justify-content will be switched to space-around for better fit for header content
        height: 70px;

        .headerLeftSide{
            width: 159px;
            height: 20.92px;

            .burgerMenu{
                display: block; //burger menu will appear when on mobile
                margin-right: 14px;
                
            }

            .burgerMenu:hover{
                cursor: pointer;   
            }
        }

        .nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 84px;

            .dropDownContainer{
                margin-left: 22.09px;
                width: 20px;
                height: 20px;

                // make only user icon visible when on mobile
                .userIcon{
                    position: static;
                    z-index: 10;
                    top: 0%;
                    left: 0%;
                    transform: translateY(0%);
                    content: url('../public/images/user2Icon.svg');
                }
                
                // hiding dropdown
                .dropDown{
                    display: none;
                }
            }
            
            .button{
                border: none; //hiding border for mobile
                width: 20px;
                height: 20px;
                border-radius: 0px;
            }

            .button:first-child{
                content: url('../public/images/bell2Icon.svg');
            }

            .flag{
                display: none; //hiding language button
            }

            .ShoppingCartButton{
                padding: 0px;
                content: url('../public/images/shoppingCart2Icon.svg');
              }
            

            //   adding cancelation button
            .cancleButton{
                width: 36px;
                height: 36px;
                border-radius: 10px;
                background-color: #E5E5ED;
                padding-top: 8px;
                padding-left: 12px;
                cursor: pointer; 
            }
        }
    }
}