@use './dropDown.module.scss' as dropDown;

@use './header.module.scss' as header;

.main {
    background-color: #FAFAFB;
    min-height: 90vh;
    padding-bottom: 122px;

    .banner {
        padding-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        h1{
          font-family:  dropDown.$font-bold;
          font-size: 36px;
          font-weight:100;
          line-height: 37px;
          position: absolute;
          color: #FFFFFF;
        }

        .imageContainer {
            background-image: url('../public/images/banner@2x.png');
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
            border-radius: 15px;
            width: 67.0833%;
            height: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .img{
                filter: grayscale(2%) brightness(60%);  
            }
        }
    }

    .info{

        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16.56%;

        .domainCount{
            h3{
                font-family:  dropDown.$font-bold;
                font-weight: bold;
                font-size: 16px;
                line-height: 40px;
                color: #696974;
                span{
                    color: black;
                }
            }
        }

        .filterBy{
            display: flex;

            h3{
                font-family: dropDown.$font-bold;
                font-weight: bold;
                font-size: 14px;
                line-height: 40px;
                color: #171725;
            }

            nav{
                margin-left: 16px;
                font: normal normal normal 14px/40px dropDown.$font-main;
                color: #92929D;

                span:not(:first-child){
                   margin-left: 20px;
                }

                span:first-child{
                    color: #99CC66;
                }
            }
        }

        .additionalInfo{
            .moreInfoLink{
                color: #171725;
                font: normal normal normal 14px/40px dropDown.$font-main;
            }
        }
    }
    
    .panelsContainer{
        width: 66.979vw;
        display: flex;
        justify-content: space-between;
        margin-top: 28px;
        margin-left: auto;
        margin-right: auto;

        .filterPanelContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 1510px;
            justify-content: space-between;

            .secondSearch{
              display: block;
            }

            .SortBy{
                display: none;
            }
        }
        
    }

}

// styling for the phone
@media (max-width: header.$layout-breakpoint-small){
    .main{
        min-height: 1008px;

        // banner width will set up to 100%
        .banner{
            width: 100%;
            padding-top: 0px;
            height: 120px;

            // banner image will change
            .imageContainer{
              width: 100%;
              height: 100%;
              background-size: cover;
              border-radius: 0%;
              background-image: url('../public/images/Banner3.png');
             
            //text will be aligned center on the banner   
              h1{
                font-size: 20px;
                word-break: break-all;
                width: 180px;
                text-align: center;
              }

            }
        }
         
        // domain information section will be hidden
        .info{
            display: none;
        }
         
        // panels container's flex direction will change to column
        .panelsContainer{
            flex-direction: column;
            justify-content: start;
            width: 100%;
            height: 500px;
            margin-top: 0px;
            
            // filter panel will use up the 100% of the screen
            .filterPanelContainer{
                width: 100%;
                
                // mobile filtering inputs will appear
                .SortBy{
                    display: block;
                }

                .secondSearch{
                    display: none;
                }
            }
        }
    }
}