@use '../styles/dropDown.module.scss' as dropDown;

.sortByContainer {
    width: 100%;
    height: 74px;
    display: flex;
    align-items: center;

    form {
        width: 100%;
        display: flex;

        .sortByInputContainer {
            input {
                width: 160px;
                height: 40px;
                border-radius: 10px;
                border: 1px solid #E5E5ED;
                font-family: dropDown.$font-main;
                padding-left: 13.77px;
            }
        }

        .sortByDropDown {
            margin-left: 15px;

            .sortBySelect {
                font-family: dropDown.$font-main;
                width: 160px;
                height: 40px;
                border-radius: 10px;
                border: 1px solid #E5E5ED;
                background-color: #ffffff;
                padding-left: 13.77px;
                color: #696974;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background-image: url('../public/images/Dropdown\ -\ 2.svg'); //adding custom dropdown icon
                background-repeat: no-repeat;
                background-position: 135.39px;
            }
        }
    }
}